<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
    </compilation>
    <customErrors mode="Off" defaultRedirect="ErrorPage.aspx">
      <error statusCode="400" redirect="ErrorPage.aspx" />
      <error statusCode="401" redirect="ErrorPage.aspx" />
      <error statusCode="403" redirect="ErrorPage.aspx" />
      <error statusCode="404" redirect="ErrorPage.aspx" />
      <error statusCode="410" redirect="ErrorPage.aspx" />
      <error statusCode="500" redirect="ErrorPage.aspx" />
    </customErrors>
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v21.1, Version=21.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </handlers>
  </system.webServer>
</configuration>